.container-1 {
    border-radius: 20px 20px 0 0;
    margin: 2vh 0 0 4.4vw;
    position:absolute;
    height: 200vh;
    width: 90vw;
    background: var(--sec-bg-dark);
    color: var(--text-color);
}

.container-2 {
    border-radius: 0 0 20px 20px;
    margin: 203vh 0 0 4.4vw;
    position:absolute;
    height: 170vh;
    width: 90vw;
    background: var(--sec-bg-dark);
    color: var(--text-color);
}

.content-info {
    border-radius: 20px 20px 0px 0px;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 100%;
    position: absolute;
    margin: 20px;
    height: 30vh;
    width: 87vw;
    background: var(--content-bg-1-dark-33);
}

.content-info-name {
    position: relative;
    margin: 45px 25px 25px 25px;
    width: 20vw;
    height: 10vh;
    text-align: center; 
}

.content-info-field > input{
    color: var(--text-color);
    height: 5vh;
    width: 25vw;
    border-style: none;
    background: var(--input-bg-dark-60);
}

.content-info-field > label{
    margin-left: 15px;
}

.content-info-others {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 50% 50%;
    margin-top: 20px;
    height: 23vh;
    width: 105%;
    background: var(--content-bg-2-dark-20);
}

.content-info-field-others {
    position: relative;
    margin: 10px 0px 0px 10px;
    width: 20vw;
    height: 10vh;
     
}

.content-info-field-others > input{
    color: var(--text-color);
    display: block;
    height: 5vh;
    width: 15vw;
    border-style: none;
    background: var(--input-bg-dark-60);
}

.content-info-field-others > label{
    margin-left: 15px;
}

.content-details {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-column-start: 1;
    grid-column-start: 5;
    margin: 36vh 0px 0px 1.5vw;
    height: 200vh;
    width: 87vw;
}

.column-1 {
    height: 160vh;
    width: 16.2vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--content-bg-1-dark-33)
}

.details-attributes {
    padding-top: 3vh;
}

.details-attributes > input{
    border-style: none;
}

.details-attributes > label{
    display: block;
    text-align: center;
}

.attribute-bonus {
    position: absolute;
    background: var(--input-bg-dark-60);
    color:  var(--text-color);
    text-align: center;
    font-size: 2em;
    margin-left: 3.7vw;
    height: 8vw;
    width: 8vw;
}

.attribute-input {
    background: var(--input-bg-dark-100);
    color: var(--text-color);
    text-align: center;
    position: sticky;
    margin: 15vh 0px 0px 5.7vw;
    width: 4vw;
    height: 4vh;
    border-radius: 50% 50% 49% 51% / 52% 52% 48% 48%;
}

.column-2 {
    height: 160vh;
    width: 25vw;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--content-bg-1-dark-33);
}

.inspiration {
    margin: 2vh 0 0 1vw;
}

.inspiration > input{
    width: 4vw;
    height: 4vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.inspiration > label{
    margin-left: 2vw;
    font-size: 1.2rem;
}

.profBonus {
    margin: 2vh 0 0 1vw;
}

.profBonus > input{
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.profBonus > label{
    margin-left: 2vw;
    font-size: 1.2rem;
}

.content-res-tes {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 23vw;
    height: 30vh;
    background:var(--content-bg-2-dark-20);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.content-res-tes > p {
    text-align: center;
}

.teste-res > input[type=number] {
    color: var(--text-color);
    text-align: center;
    width: 2vw;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
}

.teste-res > label {
    padding-left: 1vw;
}

.content-pericias {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 23vw;
    height: 105vh;
    background:var(--content-bg-2-dark-20);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.content-pericias > p {
    text-align: center;
}

.column-3 {
    height: 160vh;
    width: 25vw;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--content-bg-1-dark-33);
}

.status {
    margin-top: 2vh;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;

}

.status-component > input {
    width: 4vw;
    height: 4vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.pv-content {
    border-radius: 5px 5px 0 0;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 23vw;
    height: 20vh;
    background:var(--content-bg-2-dark-20);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%; 
}

.max-pv > input{
    margin: 1vh 1vw 0 1vw;
    width: 8.5vw;
    height: 1.6vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.current-pv{
    text-align: center;
}

.current-pv > input{
    margin: 1vh 1vw 1vh 1vw;
    width: 20vw;
    height: 4.5vw;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.temp-pv-content {
    text-align: center;
    border-radius: 0 0 5px 5px;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 23vw;
    height: 20vh;
    background:var(--content-bg-2-dark-20);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 50%; 
}

.temp-pv > input {
    margin: 1vh 1vw 2vh 1vw;
    width: 20vw;
    height: 6vw;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.dice-pv-content {
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2vh;
    margin-left: 5vw;
    width: 15vw;
    height: 15vh;
    background:var(--content-bg-2-dark-20);
}

.dice-pv > input{
    margin: 1vh 0 1vh 0;
    width: 12vw;
    height: 4vw;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background: var(--input-bg-dark-60);
    border-style: none;
}

.attack-spells-content {
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 23vw;
    height: 48vh;
    background:var(--content-bg-2-dark-20);
}


.attacks-details {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 1vh 0vw;
}

.attack-input-1 {
    background-color: var(--input-bg-dark-60);
    border: none;
    margin-left: 1vw;
    width: 7vw;
    border-radius: 10px 0 10px 0;
    text-align: center;
    color: var(--text-color);
}

.attack-input-2 {
    background-color: var(--input-bg-dark-60);
    border: none;
    border-radius: 10px 0 10px 0;
    text-align: center;
    color: var(--text-color);
}

.attack-description-content {
    margin-top: 4vh;
}

.attack-description > textarea {
    resize: none;
    background: var(--input-bg-dark-60);
    border: none;
    width: 21vw;
    height: 25vh;
    color: var(--text-color);
}

.attack-description > p {
    margin-top: 1vh;
}

.armorum-content {
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 23vw;
    height: 32vh;
    background:var(--content-bg-2-dark-20);
}

.armorum-description > textarea {
    margin-top: 1vh;
    resize: none;
    background: var(--input-bg-dark-60);
    border: none;
    width: 21vw;
    height: 27vh;
    color: var(--text-color);
}

.column-4 {
    text-align: center;
    height: 160vh;
    width: 17.5vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background: var(--content-bg-1-dark-33)
}

.char-description {
    margin-top: 2vh;
}

.char-description > textarea {
    resize: none;
    background: var(--input-bg-dark-60);
    border: none;
    width: 15vw;
    height: 15vh;
    color: var(--text-color);
}

#personality {
    border-radius: 5px 5px 0 0;
}

#weakness {
    border-radius: 0 0 5px 5px;
}

.char-carac > textarea{
    resize: none;
    background: var(--input-bg-dark-60);
    border: none;
    width: 15vw;
    height: 60vh;
    color: var(--text-color);
}

.char-content {
    background: var(--content-bg-1-dark-33);
    margin: 1vh 0 0 1vw;
    padding: 1vh;
    width: 87vw;
    height: 165vh;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}

.image-apperance {
    padding-top: 1vh;
    text-align: center;
    background: var(--input-bg-dark-60);
    width: 100%;
    height: 80vh;
}

.image-apperance > div > img{
    max-height: 480px; 
    max-width: 500px;
}

.char-apperance-details {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}

.carac-fields {
    margin-top: 10px;
}

.carac-fields > label{
    font-size: 1.5rem;
}

.carac-fields > input {
    color: var(--text-color);
    height: 5vh;
    width: 17vw;
    border-style: none;
    background: var(--input-bg-dark-60);
}

.carac-text {
    margin-left: 1vw;
    text-align: center;
    font-size: 1.5rem;
}

.carac-text > textarea {
    resize: none;
    background: var(--input-bg-dark-60);
    border: none;
    width: 51vw;
    height: 77vh;
    color: var(--text-color);
}

